@import "tailwindcss";
@source "./views/*.{html,js}";
@plugin "daisyui";
@plugin "flowbite/plugin";

/* HTMX loading indicators */
.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline-block;
}

.htmx-request .htmx-request-hide {
  display: none;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
